.Body {
  display: grid;
  justify-content: center;
  grid-template-areas: "nav main aside";
}

.nav {
  grid-area: nav;
  height: fit-content;
  width: fit-content;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  padding: 1rem;
  margin-top: 3rem;
  margin-left: 4rem;
  background-color: transparent;
  text-align: right;
  z-index: 100;
}

.main {
  grid-area: main;
  border: 1px solid #d8d8d8;
  height: 88vh;
  width: 42vw;
  padding: 2rem;
  margin: 1rem;
  overflow: hidden;
  background-color: #fff;
  border-radius: 0.2rem;
  scrollbar-color: var(--mainColor) transparent;
}

.main:hover {
  overflow-y: scroll;
}

.aside {
  grid-area: aside;
  display: flex;
  flex-direction: column-reverse;
  margin: 1.5rem;
}

.userPic {
  margin-bottom: 1rem;
}

.userName {
  font-size: 1.05rem;
  font-weight: 600;
}

.nav > button {
  color: #fff;
  background-color: var(--mainColor);
  border: none;
  padding: 0.3rem;
  border-radius: 1rem;
}

.active {
  color: var(--mainColor);
}

.notActive {
  color: #000;
}

.active:hover,
.link:hover {
  letter-spacing: 0.5rem;
  right: 3rem;
  transition: 1s ease-in-out;
}

.linkLittle:hover {
  letter-spacing: 0.3rem;
  right: 3rem;
  transition: 1s ease-in-out;
}

.roomsTitle {
  position: relative;
  bottom: 1.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--mainColor);
}

.rooms > ul {
  height: 7rem;
  position: relative;
  bottom: 2.5rem;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  list-style: none;
  scrollbar-color: var(--mainColor) transparent;
  overflow: hidden;
}

.rooms > ul:hover {
  overflow-y: scroll;
  padding-right: 0.5rem;
  transition-timing-function: ease-in-out;
}

.options > ul {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 700;
  list-style: none;
}

.copyright {
  margin-top: 4rem;
  align-items: flex-end;
  font-size: 0.8rem;
  font-family: var(--fontFamRegular);
}
