.heading {
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.title {
  font-size: 1.2rem;
}

.inputLabel {
  margin-bottom: 1rem;
}

.title > input {
  height: 3.5rem;
  width: 30rem;
  margin-bottom: 2rem;
  border: none;
  border-bottom: 1px solid var(--mainColor);
  z-index: 100;
  outline: none;
}

.title > input::placeholder {
  color: #6c6e70;
}

.select {
  margin-bottom: 2rem;
}

.selectLabel {
  position: relative;
  top: 0.6rem;
  left: 0.6rem;
  width: fit-content;
  color: #6c6e70;
  background-color: #fff;
  font-size: 0.78rem;
  font-weight: 400;
  padding: 0.2rem;
}

.subject > option {
  background-color: #fff;
}

.subject {
  height: 3.5rem;
  width: 30rem;
  border: 1px solid var(--mainColor);
  outline: none;
  background-color: transparent;
}

.subject > option {
  background-color: transparent;
}

.swCon {
  width: 30rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.switchLabel {
  position: relative;
  top: 0.2rem;
  font-weight: 500;
}

.switch {
  width: 10rem;
  display: flex;
  justify-content: space-between;
}

.btn {
  width: 30rem;
  display: flex;
  justify-content: flex-end;
}

.btn > button {
  height: 2.25rem;
  width: 10rem;
  color: #fff;
  background-color: var(--mainColor);
  border: none;
  border-radius: 2rem;
}

/* media queries max width 480 */
@media (max-width: 480px) {
  .heading {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  .title {
    font-size: 1rem;
  }
  .inputLabel {
    margin-bottom: 0.5rem;
  }
  .title > input {
    height: 2.5rem;
    width: 100%;
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
  }
  .select {
    margin-bottom: 0.5rem;
  }
  .selectLabel {
    position: relative;
    top: 0.5rem;
    left: 0.2rem;
    font-size: 0.5rem;
    padding: 0.2rem;
  }

  .subject {
    height: 2.5rem;
    width: 100%;
  }
  .swCon {
    width: 100%;
    margin-bottom: 0.8rem;
  }
  .switchLabel {
    position: relative;
    top: 0.2rem;
    font-weight: 500;
    font-size: 0.9rem;
  }
  .switch {
    width: 100%;
    justify-content: space-between;
    padding: 0.2rem;
  }
  .btn {
    width: 100%;
    justify-content: flex-end;
  }
  .btn > button {
    height: 2rem;
    width: 8rem;
  }
}
