.underCons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.underConsText {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
}

@media (max-width: 480px) {
  .underConsText {
    font-size: 0.9rem;
    font-weight: 700;
  }
}
