html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow-y: hidden;
  color: #000;
  background-color: #dae0e6;
  font-family: var(--fontFamRegular);
  overflow-x: hidden;
  scrollbar-color: var(--mainColor) transparent;
}

button {
  cursor: pointer;
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
  color: var(--mainColor);
}

@font-face {
  font-family: Sora Regular;
  src: url("../public/assets/fonts/Sora/static/Sora-Regular.ttf");
}

@font-face {
  font-family: Sora Strong;
  src: url("../public/assets/fonts/Sora/static/Sora-Bold.ttf");
}

:root {
  --mainColor: #8c52ff;
  --mainColorHover: #925efa;
  --fontFamRegular: "Sora Regular";
  --fontFamBold: "Sora Strong";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
