html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  color: #000;
  background-color: #dae0e6;
  font-family: var(--fontFamRegular);
  overflow-x: hidden;
  scrollbar-color: var(--mainColor) transparent;
}

button {
  cursor: pointer;
}

button,
input {
  outline: none;
}

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--mainColor); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid var(--mainColor); /* creates padding around scroll thumb */
}

@font-face {
  font-family: Sora Regular;
  src: url("../public/assets/fonts/Sora/static/Sora-Regular.ttf");
}

@font-face {
  font-family: Sora Strong;
  src: url("../public/assets/fonts/Sora/static/Sora-Bold.ttf");
}

:root {
  --mainColor: #8c52ff;
  --mainColorHover: #925efa;
  --bg: #fff;
  --txt: #000;
  --darkModeBg: rgba(33, 33, 33, 0.95);
  --darkModeTxt: #ddd;
  --fontFamRegular: "Sora Regular";
  --fontFamBold: "Sora Strong";
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: rgba(33, 33, 33, 0.95);
    --txt: #ddd;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bodyDark {
  background-color: #111;
  color: #dddddd;
}
