html,
body {
  padding: 0;
  margin: 0;
  color: #000;
  background-color: #dae0e6;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@font-face {
  font-family: Sora Regular;
  src: url("../public/assets/fonts/Sora/static/Sora-Regular.ttf");
}

@font-face {
  font-family: Sora Strong;
  src: url("../public/assets/fonts/Sora/static/Sora-Bold.ttf");
}

:root {
  --mainColor: #8c52ff;
  --fontFamRegular: "Sora Regular";
  --fontFamBold: "Sora Strong";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
