.second,
.first {
  margin-bottom: 4rem;
}

.header {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: var(--fontFamBold);
  margin-bottom: 1rem;
}

.roomBox {
  height: 15rem;
  width: 100%;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
  color: #fff;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(140, 82, 255, 1) 100%,
    rgba(39, 118, 234, 1) 35%
  );
}

.roomTitle {
  margin-bottom: 2rem;
}

.roomName {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.roomUsers {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.roomJoin {
  position: relative;
}

.roomJoin > button {
  height: 2.5rem;
  width: 100%;
  font-weight: 600;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 1rem;
}

.roomJoin > button:hover {
  background-color: var(--mainColorHover);
  cursor: pointer;
}

.Loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
}

.Loading > footer {
  position: absolute;
  bottom: 0;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.Loading > footer > span {
  font-family: var(--fontFamBold);
  color: var(--mainColor);
}

/* media queries max width 1400 */
@media (max-width: 1400px) {
  .header {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  .roomBox {
    height: 15rem;
    width: 100%;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1.5rem;
  }
  .roomTitle {
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
    position: relative;
    top: 0.5rem;
  }
  .roomName {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  .roomUsers {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;
  }
  .roomJoin {
    position: relative;
  }
  .roomJoin > button {
    height: 2.5rem;
    width: 100%;
    font-size: 0.7rem;
  }
}

/* media queries max width 480 */
@media (max-width: 480px) {
  .header {
    font-size: 1rem;
    font-weight: 500;
    font-family: var(--fontFamBold);
    margin-bottom: 1rem;
  }
  .roomBox {
    height: 12.5rem;
    width: 100%;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1.5rem;
    color: #fff;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(140, 82, 255, 1) 100%,
      rgba(39, 118, 234, 1) 35%
    );
  }
  .roomTitle {
    font-size: 0.8rem;
  }
  .roomName {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }
  .roomUsers {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;
  }
  .roomJoin {
    position: relative;
  }
  .roomJoin > button {
    height: 2rem;
    width: 100%;
    font-weight: 600;
    font-size: 0.7rem;
  }
  .roomJoin > button:hover {
    background-color: var(--mainColorHover);
    cursor: pointer;
  }
  .Loading > footer {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }
}
