.inputField {
    padding: 15px;
    width: 100%;
    font-size: .8rem;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.label {
    font-size: 1.5rem;
}

@media screen and (max-width:550px) {
    .label {
        font-size: 4rem;
    }
    .inputField {
        padding: 15px;
        font-size: .8rem;
    }
}

.label {
    font-size: 1rem
}

@media screen and (max-width:900px) {
    .label {
        font-size: 1rem;
    }
}