.Notifications {
  width: 100%;
}

.Notifications>header {
  font-size: 1.1rem;
  font-weight: 600;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.notifications {
  border-bottom: 1px solid #d9d1eb;
  overflow: hidden;
}

.notification {
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  border: 1px solid #d9d1eb;
  border-bottom: none;
}

.notification>div {
  display: flex;
  align-items: center;
}

.notificationMsg,
.notificationsAvatar {
  padding: 0.5rem;
  padding-right: 1rem;
  z-index: 100;
}

.notificationMsg>span {
  font-weight: 700;
}

.enterBtn>button {
  width: 6rem;
  padding: 0.5rem;
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--mainColor);
  background-color: transparent;
  border-radius: 5rem;
  border: 1.8px solid var(--mainColor);
}

.noNotification {
  max-width: 300px;
  margin: 50px auto;

}

/* media queries max width 480 */
@media screen and (max-width: 480px) {
  .noNotifyText {
    font-size: .8rem;
  }

  .noNotification {
    width: 80%;
    margin: 40px auto;

  }

  .Notifications>header {
    font-size: 0.95rem;
    font-weight: 600;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }

  .notification {
    font-size: 0.7rem;
    padding-right: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #d9d1eb;
    border-bottom: none;
  }

  .enterBtn>button {
    width: 4rem;
    padding: 0.3rem;
    margin-right: 0.5rem;
    font-size: 0.7rem;
  }
}

/* styles for dark mode */
#notificationsDark {
  border-bottom: 1px rgb(22, 22, 22) solid;
}

#notificationDark {
  border: 1px rgb(22, 22, 22) solid;
  border-bottom: none;
}