.header {
  height: 12rem;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  padding: 1rem;
  margin-bottom: 2rem;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(140, 82, 255, 1) 100%,
    rgba(39, 118, 234, 1) 35%
  );
  z-index: 100;
}

.begin {
  width: 100%;
  display: flex;
  justify-content: center;
}

.begin > button {
  position: relative;
  right: 0.25rem;
  height: 2rem;
  width: 4rem;
  font-size: 0.8rem;
  color: #fff;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(140, 82, 255, 1) 100%,
    rgba(39, 118, 234, 1) 35%
  );
  border: none;
  border-radius: 0.2rem;
}

.title {
  position: relative;
  top: 5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
}

.headerCon {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.headerIcons,
.roomUsers {
  position: relative;
  bottom: 1.5rem;
}

.headerIcons {
  display: flex;
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 2rem;
}

.react,
.notif,
.more {
  height: 1.65rem;
  position: relative;
  top: 0.07rem;
  place-items: center;
  border-radius: 0.2rem;
}

.react:hover,
.notif:hover,
.more:hover {
  color: var(--mainColor);
  background-color: #e7defa;
}

.notif,
.react {
  margin-right: 0.5rem;
}

.dropDown {
  width: 16rem;
  height: 22.5rem;
  position: absolute;
  top: 11.5rem;
  right: 0.3rem;
  background-color: #fff;
  padding: 1rem;
  padding-top: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 10px;
  overflow: hidden;
  scrollbar-color: var(--mainColor) transparent;
}

.dropDown:hover {
  overflow-y: scroll;
}

.noDrop {
  display: none;
}

.aboutName {
  font-size: 0.9rem;
  font-weight: 600;
  border-bottom: 1px solid #e7defa;
  padding-bottom: 0.2rem;
  margin-bottom: 0.5rem;
}

.aboutContent {
  font-size: 0.8rem;
}

.aboutContent > button {
  margin-top: 1rem;
}

.editAbout {
  height: 2.5rem;
  width: 100%;
  font-size: 0.75rem;
  padding: 0.5rem;
  outline: none;
}

.userTotal {
  font-size: 0.79rem;
  font-family: var(--fontFamBold);
}

.totalTxt {
  font-size: 0.75rem;
}

.infoCreated {
  font-size: 0.79rem;
  font-weight: 300;
}

.favs {
  color: var(--mainColor) !important;
  background-color: transparent !important;
  border: 1px solid var(--mainColor) !important;
}

.favs,
.leave {
  font-size: 0.75rem;
  width: 100%;
  color: #fff;
  background-color: var(--mainColor);
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
  border: none;
}

.participators {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  padding-right: 0;
}

.pAvatars {
  display: grid;
  place-items: center;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.userName {
  font-size: 0.9rem;
  font-weight: 600;
  margin-top: 0.25rem;
}

.userRole {
  font-size: 0.8rem;
}

.audio {
  border: 1px solid red;
}
