.header {
  height: 12rem;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  padding: 1rem;
  margin-bottom: 2rem;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(140, 82, 255, 1) 100%,
    rgba(39, 118, 234, 1) 35%
  );
  z-index: 100;
}

.begin {
  width: 100%;
  display: flex;
  justify-content: center;
}

.begin > button {
  position: relative;
  right: 0.25rem;
  height: 2rem;
  width: 4rem;
  font-size: 0.8rem;
  color: #fff;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(140, 82, 255, 1) 100%,
    rgba(39, 118, 234, 1) 35%
  );
  border: none;
  border-radius: 0.2rem;
}

.title {
  position: relative;
  top: 5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
}

.headerCon {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.headerIcons,
.roomUsers {
  position: relative;
  bottom: 1.5rem;
}

.headerIcons {
  display: flex;
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 2rem;
}

.react,
.notif,
.more {
  position: relative;
  top: 0.2rem;
}

.notif,
.react {
  margin-right: 0.5rem;
}

.participators {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  padding-right: 0;
}

.pAvatars {
  display: grid;
  place-items: center;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.userName {
  font-size: 0.9rem;
  font-weight: 600;
  margin-top: 0.25rem;
}

.userRole {
  font-size: 0.8rem;
}

.audio {
  border: 1px solid red;
}

.Body {
  display: grid;
  justify-content: center;
  grid-template-areas: "nav main aside";
}

.nav {
  grid-area: nav;
  height: fit-content;
  width: fit-content;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  padding: 1rem;
  margin: 1rem;
  margin-left: 4rem;
  background-color: transparent;
  text-align: right;
  z-index: 100;
}

.main {
  grid-area: main;
  border: 1px solid #d8d8d8;
  height: 88vh;
  width: 42vw;
  padding: 2rem;
  margin: 1rem;
  overflow: hidden;
  background-color: #fff;
  border-radius: 0.2rem;
  scrollbar-color: var(--mainColor) transparent;
}

.main:hover {
  overflow-y: scroll;
}

.aside {
  grid-area: aside;
  display: flex;
  flex-direction: column-reverse;
  margin: 1.5rem;
}

.userPic {
  margin-bottom: 1rem;
}

.userName {
  font-size: 1.05rem;
  font-weight: 600;
}

.nav > button {
  color: #fff;
  background-color: var(--mainColor);
  border: none;
  padding: 0.3rem;
  border-radius: 1rem;
}

.active {
  color: var(--mainColor);
}

.notActive {
  color: #000;
}

.link:hover {
  letter-spacing: 0.5rem;
  right: 3rem;
  transition: 1s ease-in-out;
}

.linkLittle:hover {
  letter-spacing: 0.3rem;
  right: 3rem;
  transition: 1s ease-in-out;
}

.roomsTitle {
  position: relative;
  bottom: 1.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--mainColor);
}

.rooms > ul {
  position: relative;
  bottom: 2.5rem;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  list-style: none;
}

.options > ul {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 700;
  list-style: none;
}

.copyright {
  margin-top: 6.5rem;
  align-items: flex-end;
  font-size: 0.8rem;
  font-family: var(--fontFamRegular);
}
