.Settings {
  position: relative;
  left: 60vh;
  height: 88vh;
  width: 42vw;
  place-items: center;
  margin: 1rem;
  padding: 2rem;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 0.2rem;
  scrollbar-color: var(--mainColor) transparent;
}

.Settings:hover {
  overflow-y: scroll;
}

.Settings > nav {
  display: flex;
  font-size: 0.9rem;
  padding: 1rem;
  padding-bottom: 0;
  border-bottom: 1px solid #e7defa;
}

.Settings > nav > div {
  margin-right: 2rem;
  text-align: center;
}

.active,
.profile,
.account {
  width: 5rem;
  padding-bottom: 0.5rem;
}

.active {
  border-bottom: 3px solid var(--mainColor);
}

/* Account */

.Profile,
.Account {
  padding: 1rem;
  padding-top: 2rem;
}

.Profile > header,
.Account > header {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.proInfo,
.deleteAcc {
  font-family: var(--fontFamBold);
  font-size: 0.85rem;
  font-weight: 700;
  color: #707070;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #e7defa;
}

.delete {
  display: flex;
  justify-content: flex-end;
  font-family: var(--fontFamBold);
  font-size: 0.9rem;
  color: red;
}

.image,
.bio,
.name {
  font-weight: 600;
  margin-bottom: 2rem;
}

.image > p,
.bio > p,
.name > p {
  font-size: 0.7rem;
  font-weight: 600;
  color: #707070;
}

.name > input {
  height: 2.5rem;
  width: 9.5rem;
  padding: 0.5rem;
  outline: none;
  margin-right: 1rem;
}

.bio > textarea {
  width: 20rem;
  padding: 0.5rem;
  outline: none;
}

.pp {
  margin-bottom: 1rem;
}

.btn > button {
  height: 2.5rem;
  width: 10rem;
  color: #fff;
  background-color: var(--mainColor);
  border: none;
  border-radius: 0.2rem;
}

.progress {
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

/* media queries max width 900 */
@media (max-width: 900px) {
  .Settings {
    left: 0;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 1rem;
    overflow-y: scroll;
  }
  .Settings > nav {
    border-bottom: none;
  }
  .Settings > nav > div {
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .active,
  .profile,
  .account {
    width: 100%;
    padding-bottom: 0;
  }
  .active {
    border-bottom: 2px solid var(--mainColor);
  }
  .Profile,
  .Account {
    padding: 1rem;
    padding-top: 1rem;
  }
  .Profile {
    height: 100vh;
  }
  .Profile > header,
  .Account > header {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .proInfo,
  .deleteAcc {
    font-family: var(--fontFamBold);
    font-size: 0.8rem;
    font-weight: 700;
    color: #707070;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #e7defa;
  }
  .delete {
    display: flex;
    justify-content: flex-end;
    font-family: var(--fontFamBold);
    font-size: 0.8rem;
    color: red;
  }
  .image,
  .bio,
  .name {
    font-weight: 600;
    margin-bottom: 0.9rem;
  }
  .image > p,
  .bio > p,
  .name > p {
    font-size: 0.7rem;
    font-weight: 600;
    color: #707070;
  }
  .name > input {
    height: 2.5rem;
    width: 9.5rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
}

/* media queries max width 480 */
@media (max-width: 480px) {
  .Settings {
    left: 0;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 1rem;
    overflow-y: scroll;
  }
  .Settings > nav {
    border-bottom: none;
  }
  .Settings > nav > div {
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .active,
  .profile,
  .account {
    width: 100%;
    padding-bottom: 0;
  }
  .active {
    border-bottom: 2px solid var(--mainColor);
  }
  .Profile,
  .Account {
    padding: 1rem;
    padding-top: 1rem;
  }
  .Profile {
    height: 115vh;
  }
  .Profile > header,
  .Account > header {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .proInfo,
  .deleteAcc {
    font-family: var(--fontFamBold);
    font-size: 0.8rem;
    font-weight: 700;
    color: #707070;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #e7defa;
  }
  .delete {
    display: flex;
    justify-content: flex-end;
    font-family: var(--fontFamBold);
    font-size: 0.8rem;
    color: red;
  }
  .image,
  .bio,
  .name {
    font-weight: 600;
    margin-bottom: 0.9rem;
  }
  .image > p,
  .bio > p,
  .name > p {
    font-size: 0.7rem;
    font-weight: 600;
    color: #707070;
  }
  .name > input {
    height: 2.5rem;
    width: 9.5rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
  .bio > textarea {
    width: 100%;
  }
  .btn > button {
    height: 2rem;
    width: 10rem;
    color: #fff;
    background-color: var(--mainColor);
    border: none;
    border-radius: 0.2rem;
    margin-top: 0.5rem;
  }
}

/* media queries max height 500 */
@media (max-height: 500px) {
  .Profile {
    height: 160vh;
  }
}
